@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap");
html {
  scroll-behavior: smooth;
  color: #404041;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}

input,
select,
textarea {
  border: none;
  padding-left: 10px;
  outline: none;
}

textarea {
  padding-top: 10px;
  resize: none;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  /* デフォルトのスタイルを無効 */
  padding-left: 15px;
  /* 文字が左に寄るので右にずらす */
  background-image: url(../images/kensyo-select-arrow.svg);
  background-position: right 15px center;
  background-repeat: no-repeat;
}

body {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 10px;
  color: #555555;
  font-weight: 400;
  background-color: #f0eeea;
}

header .top-header {
  display: flex;
  justify-content: space-between;
  padding: 14px 180px;
  background-color: white;
  filter: drop-shadow(0 2px 2px #bb690680);
}
header .top-header .top-left {
  display: flex;
  align-items: flex-end;
  gap: 58px;
}
header .top-header .top-right {
  display: flex;
}
header .top-header .search-box {
  width: 237px;
  margin: 10px;
}
header .top-header .search-box form {
  width: 237px;
  display: flex;
  border: 1px solid #d1d1d1;
  border-radius: 2px;
}
header .top-header .search-box input[type=text] {
  height: 32px;
  width: 76%;
}
header .top-header .search-box input[type=submit] {
  color: white;
  background-color: #f7941c;
  width: 24%;
  height: 32px;
}
header .top-header .my-page-link {
  width: 111px;
  height: 58px;
  font-size: 1.6em;
  line-height: 23.17px;
  font-weight: bold;
  color: white;
  background-color: #3369a9;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  margin: 0 8px 0 12px;
}
header .top-header .logout-button {
  width: 160px;
  height: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6em;
  line-height: 23.17px;
  font-weight: bold;
  color: white;
  background-color: #b5b5b5;
  border-radius: 2px;
}
header .top-header .logout-button::after {
  content: "";
  display: inline-block;
  width: 13.9px;
  height: 20px;
  background-image: url(../images/logout-icon.svg);
  background-size: contain;
  margin-left: 5px;
  transform: translateY(10%);
}
header .down-header {
  width: 100%;
  height: 58px;
  background-color: #f7941c;
}
header .down-header .header-navi {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
header .down-header .header-navi ul {
  padding: 0;
  display: flex;
}
header .down-header .header-navi li {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.6em;
  line-height: 23.17px;
  font-weight: bold;
  padding: 0 33px;
  position: relative;
  white-space: nowrap;
}
header .down-header .header-navi li:before {
  content: "";
  width: 1px;
  height: 54px;
  box-shadow: -1px 0px 0px #f4b86f;
  background-color: #bb6906;
  z-index: 1;
  position: absolute;
  left: 0;
  top: -15px;
}
header .down-header .header-navi li:last-child:after {
  content: "";
  width: 1px;
  height: 54px;
  box-shadow: -1px 0px 0px #f4b86f;
  background-color: #bb6906;
  z-index: 1;
  position: absolute;
  right: 0;
  top: -15px;
}

footer {
  width: 100%;
  height: 288px;
  background-color: #404041;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
footer .footer-wrapper {
  display: flex;
  gap: 68px;
  transform: translate(-20%);
}
footer .footer-wrapper .footer-links {
  display: flex;
  font-size: 1.4em;
  line-height: 28px;
  gap: 40px;
}
footer .footer-wrapper .footer-category {
  position: relative;
  margin-left: 12px;
}
footer .footer-wrapper .footer-category::before {
  content: url(../images/footer-category-arrow.svg);
  position: absolute;
  top: -6%;
  left: -12%;
}

.prize-list-wrapper {
  min-width: 430px;
  border-radius: 2px;
  background-color: #fcbd70;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding-bottom: 30px;
}
.prize-list-wrapper .prize-contents {
  width: calc(100% - 60px);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding-top: 20px;
}
.prize-list-wrapper .prize-contents .each-prize {
  min-width: 410px;
  background-color: white;
  z-index: 1;
  filter: drop-shadow(0 0 4px #00000040);
  border-radius: 2px;
  display: flex;
  gap: 10px;
  padding: 10px;
}
.prize-list-wrapper .prize-contents .each-prize .prize-list-information {
  position: relative;
}
.prize-list-wrapper .prize-contents .each-prize .prize-list-information .prize-list-information-top {
  display: flex;
  gap: 12px;
}
.prize-list-wrapper .prize-contents .each-prize .prize-list-information .prize-list-area {
  width: 76px;
  height: 17px;
  border-radius: 2px;
  background-color: white;
  color: #f7941c;
  font-size: 1.2em;
  line-height: 10px;
  border: 1px solid #f7941c;
  display: flex;
  justify-content: center;
  align-items: center;
}
.prize-list-wrapper .prize-contents .each-prize .prize-list-information .prize-list-number-winners {
  width: 127px;
  height: 17px;
  border-radius: 2px;
  background-color: #f7941c;
  color: white;
  font-size: 1.2em;
  line-height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.prize-list-wrapper .prize-contents .each-prize .prize-list-information .prize-product-title {
  font-size: 1.6em;
  font-weight: bold;
  line-height: 23.17px;
  text-align: justify;
  margin-top: 10px;
  color: #404041;
}
.prize-list-wrapper .prize-contents .each-prize .prize-list-information .prize-list-end-date {
  font-size: 1.4em;
  font-weight: bold;
  line-height: 20.27px;
  color: #f7941c;
  margin-top: 10px;
}
.prize-list-wrapper .prize-contents .each-prize .prize-list-information .prize-list-details-button {
  width: 50%;
  height: 39px;
  background-color: #ea432d;
  border-radius: 2px;
  color: white;
  font-weight: bold;
  font-size: 1.4em;
  line-height: 20.27px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 19px;
  margin-left: 50%;
}
.prize-list-wrapper .pagenation {
  margin: 0 auto;
}
.prize-list-wrapper .pagenation .pagenation-information {
  font-size: 1.4em;
  line-height: 20.27px;
  margin-top: 20px;
}
.prize-list-wrapper .pagenation .pagenation-numbers {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 10px;
}
.prize-list-wrapper .pagenation .pagenation-numbers .pagenation-number {
  width: 36px;
  height: 42px;
  border-radius: 2px;
  font-size: 1.9em;
  line-height: 27.51px;
  color: #f7941c;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #edddca;
}
.prize-list-wrapper .pagenation .pagenation-numbers .current {
  background-color: white;
}

.notification-wrapper {
  min-width: 410px;
  border-radius: 2px;
  border-top: 6px solid #f7941c;
  background-color: white;
  margin-top: 60px;
}
.notification-wrapper .notification-heading {
  height: 48px;
  font-size: 2.4em;
  font-weight: bold;
  line-height: 34.75px;
  border-bottom: 2px solid #f7941c;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 14px;
}
.notification-wrapper .each-notification {
  height: 60px;
  padding: 20px;
  display: flex;
  gap: 52px;
  align-items: center;
  position: relative;
}
.notification-wrapper .each-notification .notification-date {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 1.4em;
  line-height: 16.41px;
  color: #f7941c;
}
.notification-wrapper .each-notification .notification-title {
  font-size: 1.4em;
  line-height: 20.27px;
  color: #555555;
}
.notification-wrapper .each-notification::after {
  content: "";
  width: calc(100% - 40px);
  height: 1px;
  background-color: #d1d1d1;
  position: absolute;
  left: 20px;
  top: 60px;
}
.notification-wrapper .notification-link {
  height: 45px;
  font-size: 1.4em;
  font-weight: bold;
  line-height: 20.27px;
  color: #404041;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 15.6px;
}
.notification-wrapper .notification-link::after {
  content: url(../images/arrow.svg);
  transform: translateY(3px);
  margin-left: 17px;
}

.side-navi-wrapper {
  min-width: 280px;
}
.side-navi-wrapper .prize-navi-heading {
  height: 40px;
  font-weight: bold;
  font-size: 1.6em;
  line-height: 23.17px;
  color: #f7941c;
  display: flex;
  align-items: center;
  padding: 0 10px;
}
.side-navi-wrapper .navi-column {
  height: 40px;
  font-size: 1.4em;
  line-height: 20.27px;
  color: #404041;
  border-top: 1px solid #e8e8e8;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0 10px;
}
.side-navi-wrapper .navi-column .navi-number-winners {
  height: 16px;
  background-color: #ffca89;
  border-radius: 1px;
  font-size: 1.2em;
  line-height: 17.38px;
  color: white;
  text-align: center;
  margin-left: 9px;
}
.side-navi-wrapper .navi-column::after {
  content: url(../images/navi-arrow.svg);
  position: absolute;
  right: 10px;
  top: 26%;
}
.side-navi-wrapper .prize-winner-navi {
  border-top: 2px solid #f7941c;
  border-radius: 2px;
  background-color: white;
}
.side-navi-wrapper .prize-winner-navi .winner-heading::before {
  content: url(../images/navi-present.svg);
  margin-right: 6.7px;
  transform: translateY(7%);
}
.side-navi-wrapper .prize-end-date-navi {
  border-top: 2px solid #f7941c;
  border-radius: 2px;
  margin-top: 30px;
  background-color: white;
}
.side-navi-wrapper .prize-end-date-navi .end-date-heading::before {
  content: url(../images/navi-clock.svg);
  margin-right: 6.7px;
  transform: translateY(7%);
}
.side-navi-wrapper .prize-area-select-navi {
  border-top: 2px solid #f7941c;
  border-radius: 2px;
  margin-top: 30px;
  background-color: white;
}
.side-navi-wrapper .prize-area-select-navi .area-navi-column {
  height: 37px;
  font-size: 1.2em;
  line-height: 17.38px;
  font-weight: bold;
  color: #f7941c;
  border-top: 1px solid #e8e8e8;
  display: flex;
  align-items: center;
  padding: 0 10px;
  position: relative;
}
.side-navi-wrapper .prize-area-select-navi .area-select-heading::before {
  content: url(../images/navi-map.svg);
  margin-right: 6.7px;
  transform: translateY(7%);
}
.side-navi-wrapper .prize-area-select-navi .area-navi-column:after {
  content: url(../images/navi-select-area-arrow.svg);
  position: absolute;
  right: 10px;
  top: 26%;
}
.side-navi-wrapper .prize-area-select-navi .area-select {
  display: none;
}
.side-navi-wrapper .prize-area-select-navi .navi-area {
  height: 0;
  opacity: 0;
  transition: 0.5s;
  visibility: hidden;
  text-decoration: underline;
  padding-left: 10px;
  transition: 0.1s;
}
.side-navi-wrapper .prize-area-select-navi .area {
  height: 24px;
  line-height: 14.48px;
  color: #404041;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  transition: 0.2s;
}
.side-navi-wrapper .prize-area-select-navi .area-select:checked + .area-navi-column + .navi-area {
  height: auto;
  opacity: 1;
  visibility: visible;
  background-color: #f5f5f5;
}
.side-navi-wrapper .prize-area-select-navi .area-select:checked + .area-navi-column:after {
  display: block;
  transform: rotateX(180deg);
  top: 4.85px;
}
.side-navi-wrapper .prize-popular-navi {
  border-top: 2px solid #f7941c;
  border-radius: 2px;
  margin-top: 30px;
  background-color: white;
  padding: 0 10px;
}
.side-navi-wrapper .prize-popular-navi .popular-heading::before {
  content: url(../images/navi-crown.svg);
  margin-right: 6.7px;
  transform: translateY(11%);
}
.side-navi-wrapper .prize-popular-navi .navi-popular-column {
  display: flex;
  border-top: 1px solid #e8e8e8;
  padding: 10px 0;
  gap: 11px;
}
.side-navi-wrapper .prize-popular-navi .navi-popular-column .navi-popular-thumbnail-image img {
  width: 80px;
  height: 80px;
}
.side-navi-wrapper .prize-popular-navi .navi-popular-column .popular-prize-information .popular-prize-information-top {
  display: flex;
  gap: 6px;
}
.side-navi-wrapper .prize-popular-navi .navi-popular-column .popular-prize-information .popular-prize-information-top .popular-prize-area {
  width: 68px;
  height: 14px;
  border-radius: 2px;
  background-color: white;
  color: #f7941c;
  font-size: 1em;
  line-height: 10px;
  border: 1px solid #f7941c;
  display: flex;
  justify-content: center;
  align-items: center;
}
.side-navi-wrapper .prize-popular-navi .navi-popular-column .popular-prize-information .popular-prize-information-top .polular-prize-number-winners {
  height: 14px;
  border-radius: 2px;
  background-color: #f7941c;
  color: white;
  font-size: 1em;
  line-height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5px;
}
.side-navi-wrapper .prize-popular-navi .navi-popular-column .popular-prize-information .polular-prize-information-down {
  font-size: 1.2em;
  line-height: 17.38px;
  font-weight: bold;
  margin-top: 13px;
}

.prize-wrapper {
  display: flex;
  gap: 30px;
  margin: 0 auto;
  justify-content: center;
  padding-top: 105px;
  padding-bottom: 150px;
}

.prize-wrapper-left {
  width: 45%;
}

#prize-navi {
  width: 20.8%;
}

.index-page-title {
  font-size: 2.4em;
  font-weight: bold;
  line-height: 34.75px;
}

.recommend-title {
  background-color: white;
  border-radius: 2px;
  border-top: 6px solid #f7941c;
  height: 48px;
  display: flex;
  align-items: center;
  padding-left: 14px;
}

.application-detail-wrapper {
  background-color: white;
  height: 955px;
  padding: 30px;
}
.application-detail-wrapper .each-prize-detail {
  min-width: 410px;
  background-color: white;
  z-index: 1;
  border-radius: 2px;
  display: flex;
  gap: 10px;
}
.application-detail-wrapper .each-prize-detail .prize-list-information {
  position: relative;
}
.application-detail-wrapper .each-prize-detail .prize-list-information .prize-list-information-top {
  display: flex;
  gap: 12px;
}
.application-detail-wrapper .each-prize-detail .prize-list-information .prize-list-area {
  width: 76px;
  height: 17px;
  border-radius: 2px;
  background-color: white;
  color: #f7941c;
  font-size: 1.2em;
  line-height: 10px;
  border: 1px solid #f7941c;
  display: flex;
  justify-content: center;
  align-items: center;
}
.application-detail-wrapper .each-prize-detail .prize-list-information .prize-list-number-winners {
  width: 127px;
  height: 17px;
  border-radius: 2px;
  background-color: #f7941c;
  color: white;
  font-size: 1.2em;
  line-height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.application-detail-wrapper .each-prize-detail .prize-list-information .prize-product-title {
  font-size: 2.2em;
  font-weight: bold;
  line-height: 31.86px;
  text-align: justify;
  margin-top: 10px;
  color: #404041;
  margin-bottom: 15.77px;
}
.application-detail-wrapper .each-prize-detail .prize-list-information .application-detail-end-date,
.application-detail-wrapper .each-prize-detail .prize-list-information .application-detail-number-winners,
.application-detail-wrapper .each-prize-detail .prize-list-information .application-detail-provide-enterprise {
  display: flex;
  justify-content: space-between;
  border-top: 1px dotted #b5b5b5;
}
.application-detail-wrapper .each-prize-detail .prize-list-information .application-detail-information-name {
  width: 112px;
  font-size: 1.4em;
  font-weight: bold;
  line-height: 20.27px;
  color: #f7941c;
}
.application-detail-wrapper .each-prize-detail .prize-list-information .application-detail-information {
  font-size: 1.2em;
  line-height: 17.38px;
}
.application-detail-wrapper .now-application-button {
  width: calc(100% - 60px);
  height: 70px;
  background-color: #ea432d;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: white;
  font-size: 2.7em;
  font-weight: bold;
  line-height: 39.1px;
  filter: drop-shadow(0 3px 0 #a62311);
  margin-top: 44px;
  margin-bottom: 30px;
}
.application-detail-wrapper .now-application-button p:before {
  content: "";
  display: inline-block;
  background-image: url(../images/申込みicon.svg);
  background-size: cover;
  width: 47.47px;
  height: 42.57px;
  margin-right: 12px;
  vertical-align: middle;
}
.application-detail-wrapper .application-detail-title {
  height: 35px;
  color: #404041;
  font-size: 1.8em;
  font-weight: bold;
  line-height: 26.06px;
  text-align: justify;
  border-top: 3px solid #f7941c;
  border-bottom: 1px solid #f7941c;
}
.application-detail-wrapper .application-detail-contents {
  color: #404041;
  font-size: 1.4em;
  line-height: 20.27px;
  margin-top: 22px;
}

.registration-stage-headings {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 26px;
  padding-top: 43px;
}
.registration-stage-headings .stage-heading,
.registration-stage-headings .stage-complete {
  width: 195px;
  height: 45px;
  padding: 11px 0 14px;
  border: solid 1px #c4c4c4;
  box-sizing: border-box;
  font-size: 1.4em;
  line-height: 20.27px;
  text-align: center;
  position: relative;
}
.registration-stage-headings .stage-heading:after,
.registration-stage-headings .stage-heading:before {
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  pointer-events: none;
  position: absolute;
  left: 100%;
  top: 50%;
}
.registration-stage-headings .stage-heading:after {
  border-color: rgba(255, 255, 255, 0);
  border-top-width: 10px;
  border-bottom-width: 10px;
  border-left-width: 14px;
  border-right-width: 14px;
  margin-top: -9px;
  border-left-color: #ffffff;
  transform: translateX(-1.5px);
}
.registration-stage-headings .stage-heading:before {
  border-color: rgba(196, 196, 196, 0);
  border-top-width: 10px;
  border-bottom-width: 10px;
  border-left-width: 14px;
  border-right-width: 15px;
  margin-top: -9px;
  margin-left: 1px;
  border-left-color: #c4c4c4;
}
.registration-stage-headings .active {
  color: white;
  background-color: #f7941c;
  border: none;
}
.registration-stage-headings .active:after {
  border-color: rgba(255, 255, 255, 0);
  border-top-width: 10px;
  border-bottom-width: 10px;
  border-left-width: 14px;
  border-right-width: 14px;
  margin-top: -9px;
  border-left-color: #f7941c;
  transform: translateX(-1.5px);
}
.registration-stage-headings .active:before {
  border-color: rgba(196, 196, 196, 0);
  border-top-width: 10px;
  border-bottom-width: 10px;
  border-left-width: 14px;
  border-right-width: 15px;
  margin-top: -9px;
  margin-left: -1px;
  border-left-color: #f7941c;
}

.registration-title {
  font-size: 2.4em;
  font-weight: bold;
  line-height: 34.75px;
  margin-top: 60px;
  display: flex;
  justify-content: center;
}

.registration-wrapper {
  width: 68%;
  background-color: white;
  margin: 105px auto 150px;
  display: flex;
  flex-direction: column;
  padding-bottom: 80px;
  color: #404041;
}
.registration-wrapper .provisional-registration-message {
  font-size: 1.4em;
  line-height: 20.27px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 62px;
}
.registration-wrapper .provisional-resgistration-form {
  width: 57.1%;
}
.registration-wrapper .provisional-resgistration-form label {
  font-size: 1.4em;
}
.registration-wrapper .provisional-resgistration-form .label {
  display: flex;
  gap: 10px;
}
.registration-wrapper .provisional-resgistration-form input {
  width: 100%;
  height: 70px;
  background-color: #f2f4f6;
  margin-top: 13px;
  margin-bottom: 24px;
}
.registration-wrapper .provisional-resgistration-form .required-input {
  display: inline-block;
  width: 46px;
  height: 23px;
  color: white;
  font-size: 1.2em;
  font-weight: 500;
  line-height: 17.38px;
  background-color: #ea432d;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.registration-wrapper .provisional-resgistration-form .submit {
  display: flex;
  justify-content: center;
}
.registration-wrapper .provisional-resgistration-form .submit-button {
  width: 41%;
  height: 44px;
  border-radius: 2px;
  color: white;
  background-color: #ea432d;
  cursor: pointer;
  margin: 0 auto;
}
.registration-wrapper .provisional-registration-complete-message {
  width: 57.1%;
  font-size: 1.6em;
  line-height: 23.17px;
  margin-top: 30px;
}
.registration-wrapper .spam-mail-caution {
  width: 57.1%;
  font-size: 1.4em;
  line-height: 20.27px;
  margin-top: 30px;
}
.registration-wrapper .back-home-button {
  width: 230px;
  height: 44px;
  color: #b5b5b5;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #d1d1d1;
  margin-top: 46px;
}
.registration-wrapper .main-registration-message {
  font-size: 1.4em;
  line-height: 20.27px;
  text-align: center;
  margin-top: 30px;
}
.registration-wrapper .main-registration-form {
  margin-top: 80px;
  margin-left: 107px;
  margin-right: 96px;
}
.registration-wrapper .main-registration-form .registration-input-field {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 40px;
}
.registration-wrapper .main-registration-form .registration-input-field .required-input {
  width: 46px;
  height: 23px;
  color: white;
  font-size: 1.2em;
  font-weight: 500;
  line-height: 17.38px;
  background-color: #ea432d;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(13%);
}
.registration-wrapper .main-registration-form .registration-input-field .input-name {
  width: 125px;
  font-size: 1.6em;
  font-weight: bold;
  line-height: 28px;
  margin-left: 17px;
  margin-right: 40px;
  display: flex;
  justify-content: flex-end;
}
.registration-wrapper .main-registration-form .registration-input-field input {
  width: 72%;
  height: 40px;
  background-color: #f2f4f6;
  border-radius: 2px;
}
.registration-wrapper .main-registration-form .registration-user-mail {
  font-size: 1.4em;
  line-height: 28px;
  color: #555555;
}
.registration-wrapper .work-space {
  position: relative;
  width: 72%;
}
.registration-wrapper .work-space input {
  width: 100% !important;
}
.registration-wrapper .work-space-message {
  line-height: 28px;
  position: absolute;
  top: 40px;
  left: 0;
}
.registration-wrapper .postal-code-input {
  display: flex;
  align-items: center;
  gap: 9px;
}
.registration-wrapper .postal-code-input .address-search {
  width: 82px;
  height: 30px;
  background-color: #b5b5b5;
  color: white;
  font-size: 1.3em;
  font-weight: 500;
  line-height: 28px;
  filter: drop-shadow(0 2px 0 #555555);
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.registration-wrapper .birthday-select select {
  height: 40px;
  background-color: #f2f4f6;
  border-radius: 2px;
}
.registration-wrapper .year {
  width: 85px;
}
.registration-wrapper .monthday {
  width: 67px;
}
.registration-wrapper .privacy-policy {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "YuGothic";
  font-size: 1.6em;
  line-height: 23px;
  margin-top: 40px;
}
.registration-wrapper .privacy-policy input[type=checkbox] {
  transform: scale(1.68);
  margin-right: 10px;
}
.registration-wrapper .privacy-policy a {
  color: #00a3ff;
  font-family: "Noto Sans JP", sans-serif;
  -webkit-text-decoration: underline solid #00a3ff;
          text-decoration: underline solid #00a3ff;
}
.registration-wrapper .privacy-policy .privacy-check {
  margin-top: 25px;
  line-height: 24px;
}
.registration-wrapper .privacy-protection-message {
  font-size: 1.2em;
  line-height: 17.38px;
  text-align: center;
  margin-top: 24px;
}
.registration-wrapper .register-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 230px;
  height: 44px;
  background-color: #ea432d;
  color: white;
  border-radius: 2px;
  margin: 0 auto;
  margin-top: 40px;
}
.registration-wrapper .main-registration-complete-login {
  width: 60%;
  height: 70px;
  background-color: #ea432d;
  color: white;
  font-size: 2.7em;
  font-weight: bold;
  line-height: 39.1px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 75px;
  margin-bottom: 32px;
}
.registration-wrapper .back-home-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.login-wrapper {
  width: 68%;
  background-color: white;
  margin: 105px auto 150px;
  display: flex;
  flex-direction: column;
  padding-bottom: 80px;
  color: #404041;
}
.login-wrapper .login-form {
  width: 57.1%;
  margin: 0 auto;
  margin-top: 30px;
}
.login-wrapper .login-form label {
  font-size: 1.4em;
}
.login-wrapper .login-form .label {
  display: flex;
  gap: 10px;
}
.login-wrapper .login-form input {
  width: 100%;
  height: 70px;
  background-color: #f2f4f6;
  margin-top: 13px;
  margin-bottom: 24px;
}
.login-wrapper .login-form .required-input {
  display: inline-block;
  width: 46px;
  height: 23px;
  color: white;
  font-size: 1.2em;
  font-weight: 500;
  line-height: 17.38px;
  background-color: #ea432d;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-wrapper .login-form .submit {
  display: flex;
  justify-content: center;
}
.login-wrapper .login-form .submit-button {
  width: 41%;
  height: 44px;
  border-radius: 2px;
  color: white;
  background-color: #ea432d;
  cursor: pointer;
  margin: 0 auto;
}
.login-wrapper .back-home-button {
  width: 230px;
  height: 44px;
  color: #b5b5b5;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #d1d1d1;
  margin-top: 46px;
}
.login-wrapper .back-home-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.login-wrapper .forgot-password {
  font-family: "YuGothic";
  font-size: 1.6em;
  font-weight: bold;
  line-height: 24px;
  text-align: center;
  color: #00a3ff;
  margin-top: 30px;
}
.login-wrapper .not-user-link {
  font-size: 1.2em;
  line-height: 17.38px;
  text-align: center;
  margin-top: 17px;
}
.login-wrapper .not-user-link a {
  color: #00a3ff;
  -webkit-text-decoration: underline solid #00a3ff;
          text-decoration: underline solid #00a3ff;
}

.registration-stage-headings {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 26px;
  padding-top: 43px;
}
.registration-stage-headings .stage-heading,
.registration-stage-headings .stage-complete {
  width: 195px;
  height: 45px;
  padding: 11px 0 14px;
  border: solid 1px #c4c4c4;
  box-sizing: border-box;
  font-size: 1.4em;
  line-height: 20.27px;
  text-align: center;
  position: relative;
}
.registration-stage-headings .stage-heading:after,
.registration-stage-headings .stage-heading:before {
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  pointer-events: none;
  position: absolute;
  left: 100%;
  top: 50%;
}
.registration-stage-headings .stage-heading:after {
  border-color: rgba(255, 255, 255, 0);
  border-top-width: 10px;
  border-bottom-width: 10px;
  border-left-width: 14px;
  border-right-width: 14px;
  margin-top: -9px;
  border-left-color: #ffffff;
  transform: translateX(-1.5px);
}
.registration-stage-headings .stage-heading:before {
  border-color: rgba(196, 196, 196, 0);
  border-top-width: 10px;
  border-bottom-width: 10px;
  border-left-width: 14px;
  border-right-width: 15px;
  margin-top: -9px;
  margin-left: 1px;
  border-left-color: #c4c4c4;
}
.registration-stage-headings .active {
  color: white;
  background-color: #f7941c;
  border: none;
}
.registration-stage-headings .active:after {
  border-color: rgba(255, 255, 255, 0);
  border-top-width: 10px;
  border-bottom-width: 10px;
  border-left-width: 14px;
  border-right-width: 14px;
  margin-top: -9px;
  border-left-color: #f7941c;
  transform: translateX(-1.5px);
}
.registration-stage-headings .active:before {
  border-color: rgba(196, 196, 196, 0);
  border-top-width: 10px;
  border-bottom-width: 10px;
  border-left-width: 14px;
  border-right-width: 15px;
  margin-top: -9px;
  margin-left: -1px;
  border-left-color: #f7941c;
}

.registration-title {
  font-size: 2.4em;
  font-weight: bold;
  line-height: 34.75px;
  margin-top: 60px;
  display: flex;
  justify-content: center;
}/*# sourceMappingURL=style.css.map */