// メイン画面のCSS

// 懸賞の情報を表示する部分とお知らせの部分
.prize-wrapper {
  display: flex;
  gap: 30px;
  margin: 0 auto;
  justify-content: center;
  padding-top: 105px;
  padding-bottom: 150px;
}

.prize-wrapper-left {
  width: 45%;
}

#prize-navi {
  width: 20.8%;
}

// メインページのタイトル、共通の設定
.index-page-title {
  font-size: 2.4em;
  font-weight: bold;
  line-height: 34.75px;
}

// トップページおすすめの案件タイトル
.recommend-title {
  background-color: white;
  border-radius: 2px;
  border-top: 6px solid $orange;
  height: 48px;
  display: flex;
  align-items: center;
  padding-left: 14px;
  border-bottom: 3px solid $orange;
}
