// マイページのカウンター

.orange-counter-wrapper {
  width: 100%;
  min-width: 535px;
  height: 248px;
  border-radius: 10px;
  background: linear-gradient(#f7941c, #e35f00);
  color: white;
  padding: 40px 30px 30px;
  margin-bottom: 40px;

  // ようこそ
  .welcome-message {
    font-size: 1.6em;
    font-weight: bold;
    line-height: 23.17px;
    text-align: center;
    margin-bottom: 13px;
  }

  .counter-contents {
    display: flex;
    justify-content: center;
    gap: 53px;

    // 応募中・当選
    .orange-title {
      // width: 31.8%;
      width: 207px;
      height: 23px;
      border-radius: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;

      color: $orange;
      font-size: 1.6em;
      font-weight: bold;
      line-height: 23.17px;
    }

    .orange-numbers {
      .number {
        font-size: 6.7em;
        font-weight: bold;
        line-height: 97.02px;
        text-align: center;
      }

      .unit {
        font-size: 3em;
        font-weight: bold;
        line-height: 43.44px;
        text-align: center;
      }
    }
  }

  .orange-time {
    width: 100%;
    font-size: 1.4em;
    line-height: 20.27px;
    display: flex;
    justify-content: flex-end;
  }
}
