.side-navi-wrapper {
  // 共通の設定
  .prize-navi-heading {
    height: 40px;
    font-weight: bold;
    font-size: 1.6em;
    line-height: 23.17px;
    color: $orange;
    display: flex;
    align-items: center;
    padding: 0 10px;
  }

  // ナビのカラム（当選者・締め切り）
  .navi-column {
    height: 40px;
    font-size: 1.4em;
    line-height: 20.27px;
    color: $gray;
    border-top: 1px solid $line-gray1;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0 10px;

    // 当選者数の表示
    .navi-number-winners {
      width: 28px;
      height: 19px;
      background-color: $s-orange;
      border-radius: 1px;
      font-size: 1em;
      line-height: 17.38px;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 9px;
    }
  }

  // ナビの矢印（当選者・締め切り）
  .navi-column::after {
    content: url(../images/navi-arrow.svg);
    position: absolute;
    right: 10px;
    top: 26%;
  }

  // 当選者から応募する
  .prize-winner-navi {
    border-top: 2px solid $orange;
    border-radius: 2px;
    background-color: white;

    // 見出しのアイコン
    .winner-heading::before {
      content: url(../images/navi-present.svg);
      margin-right: 6.7px;
      transform: translateY(7%);
    }
  }

  // 締切日が近い懸賞
  .prize-end-date-navi {
    border-top: 2px solid $orange;
    border-radius: 2px;
    margin-top: 30px;
    background-color: white;

    // 見出しのアイコン
    .end-date-heading::before {
      content: url(../images/navi-clock.svg);
      margin-right: 6.7px;
      transform: translateY(7%);
    }
  }

  // 地域から選ぶ
  .prize-area-select-navi {
    border-top: 2px solid $orange;
    border-radius: 2px;
    margin-top: 30px;
    background-color: white;

    // 地域のカラム
    .area-navi-column {
      height: 37px;
      font-size: 1.2em;
      line-height: 17.38px;
      font-weight: bold;
      color: $orange;
      border-top: 1px solid $line-gray1;
      display: flex;
      align-items: center;
      padding: 0 10px;
      position: relative;
    }

    // 見出しのアイコン
    .area-select-heading::before {
      content: url(../images/navi-map.svg);
      margin-right: 6.7px;
      transform: translateY(6%);
    }

    .area-navi-column:after {
      content: url(../images/navi-select-area-arrow.svg);
      position: absolute;
      right: 10px;
      top: 26%;
    }

    // 見えないセレクトボックス
    .area-select {
      display: none;
    }

    // エリアのラッパー
    .navi-area {
      height: 0;
      opacity: 0;
      transition: 0.5s;
      visibility: hidden;
      text-decoration: underline;
      padding-left: 10px;
      transition: 0.1s;
    }

    // それぞれの都道府県
    .area {
      height: 24px;
      line-height: 14.48px;
      color: $gray;
      background-color: $back-l-gray;
      display: flex;
      align-items: center;
      transition: 0.2s;
    }

    .area-select:checked + .area-navi-column + .navi-area {
      height: auto;
      opacity: 1;
      visibility: visible;
      background-color: $back-l-gray;
    }

    .area-select:checked + .area-navi-column:after {
      display: block;
      transform: rotateX(180deg);
      // top: 4.8px;
      top: 4.85px;
    }
  }

  // 人気の懸賞から選ぶ
  .prize-popular-navi {
    border-top: 2px solid $orange;
    border-radius: 2px;
    margin-top: 30px;
    background-color: white;
    // padding: 0 10px;

    // 見出しのアイコン
    .popular-heading::before {
      content: url(../images/navi-crown.svg);
      margin-right: 6.7px;
      transform: translateY(9%);
    }

    // 人気の懸賞カラム
    .navi-popular-column-wrapper {
      border-top: 1px solid $line-gray1;
    }

    .navi-popular-column {
      display: flex;
      padding: 10px 10px;
      gap: 11px;

      // 人気の懸賞サムネイル画像
      .navi-popular-thumbnail-image img {
        width: 80px;
        height: 80px;
      }

      // 人気の懸賞の情報
      .popular-prize-information {
        // 人気の懸賞の情報上部
        .popular-prize-information-top {
          display: flex;
          gap: 6px;

          // エリア
          .popular-prize-area {
            width: 68px;
            height: 14px;
            border-radius: 2px;
            background-color: white;
            color: $orange;
            font-size: 1em;
            line-height: 10px;
            border: 1px solid $orange;
            display: flex;
            justify-content: center;
            align-items: center;

            span {
              transform: translateY(-7%);
            }
          }

          // 当選人数
          .polular-prize-number-winners {
            height: 14px;
            border-radius: 2px;
            background-color: $orange;
            color: white;
            font-size: 1em;
            line-height: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 5px;

            span {
              transform: translateY(-4%);
            }
          }
        }

        // 人気の懸賞下段
        .polular-prize-information-down {
          font-size: 1.2em;
          line-height: 17.38px;
          font-weight: bold;
          margin-top: 13px;
        }
      }
    }
  }
}
