// 登録フォーム共通の設定
.registration-stage-headings {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 26px;
  padding-top: 43px;

  .stage-heading,
  .stage-complete {
    width: 195px;
    height: 45px;
    padding: 11px 0 14px;
    border: solid 1px #c4c4c4;
    box-sizing: border-box;
    font-size: 1.4em;
    line-height: 20.27px;
    text-align: center;
    position: relative;
  }

  .stage-heading:after,
  .stage-heading:before {
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    pointer-events: none;
    position: absolute;
    left: 100%;
    top: 50%;
  }
  .stage-heading:after {
    border-color: rgba(255, 255, 255, 0);
    border-top-width: 10px;
    border-bottom-width: 10px;
    border-left-width: 14px;
    border-right-width: 14px;
    margin-top: -9px;
    border-left-color: #ffffff;
    transform: translateX(-1.5px);
  }
  .stage-heading:before {
    border-color: rgba(196, 196, 196, 0);
    border-top-width: 10px;
    border-bottom-width: 10px;
    border-left-width: 14px;
    border-right-width: 15px;
    margin-top: -9px;
    margin-left: 1px;
    border-left-color: #c4c4c4;
  }

  // 現在のステージはオレンジ色に
  .active {
    color: white;
    background-color: $orange;
    border: none;
  }

  .active:after {
    border-color: rgba(255, 255, 255, 0);
    border-top-width: 10px;
    border-bottom-width: 10px;
    border-left-width: 14px;
    border-right-width: 14px;
    margin-top: -9px;
    border-left-color: $orange;
    transform: translateX(-1.5px);
  }

  .active:before {
    border-color: rgba(196, 196, 196, 0);
    border-top-width: 10px;
    border-bottom-width: 10px;
    border-left-width: 14px;
    border-right-width: 15px;
    margin-top: -9px;
    margin-left: -1px;
    border-left-color: $orange;
  }
}

// 登録のタイトル
.registration-title {
  font-size: 2.4em;
  font-weight: bold;
  line-height: 34.75px;
  margin-top: 60px;
}

// 登録フォーム

.registration-wrapper {
  width: 68%;
  background-color: white;
  margin: 105px auto 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 80px;
  color: $gray;

  .provisional-registration-message {
    font-size: 1.4em;
    line-height: 20.27px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 62px;
  }

  // 仮登録用フォーム
  .provisional-resgistration-form {
    width: 57.1%;

    label {
      font-size: 1.4em;
    }

    .label {
      display: flex;
      gap: 10px;
    }

    input {
      width: 100%;
      height: 70px;
      background-color: #f2f4f6;
      margin-top: 13px;
      margin-bottom: 24px;
    }

    .required-input {
      display: inline-block;
      width: 46px;
      height: 23px;
      color: white;
      font-size: 1.2em;
      font-weight: 500;
      line-height: 17.38px;
      background-color: $red;
      border-radius: 3px;

      display: flex;
      justify-content: center;
      align-items: center;
    }

    .submit {
      display: flex;
      justify-content: center;
    }

    .submit-button {
      width: 41%;
      height: 44px;
      border-radius: 2px;
      color: white;
      background-color: $red;
      cursor: pointer;
      margin: 0 auto;
    }
  }

  // 仮登録メール送信完了
  .provisional-registration-complete-message {
    width: 57.1%;
    font-size: 1.6em;
    line-height: 23.17px;
    margin-top: 30px;
  }

  .spam-mail-caution {
    width: 57.1%;
    font-size: 1.4em;
    line-height: 20.27px;
    margin-top: 30px;
  }

  .back-home-button {
    width: 230px;
    height: 44px;
    color: $glay-light;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $line-gray2;
    margin-top: 46px;
  }
}
